body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1 {
	text-transform: uppercase;
	font-size: 70px;
	font-weight: 800;
	color: #fff;
	margin: 0;
	padding-top: 0px;
}

h2 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 30px;
	color: #000;
}

h3 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
}

hr {
	width: 70px;
	color: #29cadf;
	border: none;
	background-color: #29cadf;
	height: 3px;
}

section:not(.map),
header,
footer {
	padding-right: 100px;
	padding-left: 100px;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

li {
	list-style-type: none;
}

ul {
	margin: 0;
	padding-left: 0;
}

/*		header*/

header {
	background-color: #f8f4f4;
	padding-top: 40px;
	padding-bottom: 40px;
}

header ul {
	display: flex;
	justify-content: space-between;
}

header a {
	color: #000;
	font-weight: 700;
	padding: 10px;
}

header a:hover {
	color: #ffffff;
	background-color: #03a9f4;
}

/*		countdown*/

.countdown {
	background-color: #343131;
	flex-direction: column;
	background: url("img/slide.png") no-repeat center center;
	background-size: cover;
	align-items: center;
	text-transform: uppercase;
	color: #fff;
	padding-top: 140px;
	padding-bottom: 195px;
}

.countdown p {
	font-size: 40px;
	margin-top: 25px;
	margin-bottom: 0px;
}

.countdown table {
	text-align: center;
	margin-bottom: 60px;
}

.countdown tr:first-child td {
	font-size: 60px;
	padding: 10px;
}

.countdown td:nth-child(odd) {
	width: 90px;
}

.countdown a {
	border: 1px solid #fff;
	font-size: 15px;
	font-weight: 700;
	padding: 18px 39px;
	color: #fff;
	margin: 20px;
}

.countdown a:hover {
	color: #ffffff;
	background-color: #03a9f4;
	border: none;
}

.countdown hr {
	margin-top: 60px;
	margin-bottom: 55px;
}

/*		about*/

.about {
	padding-top: 165px;
	padding-bottom: 150px;
	background: url("img/project-man.png")no-repeat;
	background-position: 80% 60%;

}

.about div {
	width: 700px;
}

.about hr {
	margin-left: 0;
}

.about p {
	font-size: 14px;
	color: #666;
}

.about p:first-of-type {
	font-size: 15px;
	font-weight: 700;
}

/*		stats*/

.stats {
	justify-content: space-around;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 75px;
	background-color: #f8f8f8;
}

.stats h3 {
	font-weight: 900;
}

.stats p {
	color: #797979;
}

.stats div div {
	background-color: #03a9f4;
	color: white;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	font-size: 24px;
	line-height: 80px;
	margin: auto;
}

/*		video*/

.video {
	background-color: #f8f8f8;
	justify-content: center;
	padding-bottom: 75px;
	align-items: baseline;
}

video {
	width: 100%;
	height: auto;
	max-height: 100%;
}

/*		brands*/

.brands {
	background-color: #f8f8f8;
	justify-content: center;
	padding-bottom: 120px;
}

> brands table {
	width: 100%;
}

.brands tr:first-child td {
	border-bottom: 1px dashed #eaeaea;
}

.brands td:not(:last-child) {
	border-right: 1px dashed #eaeaea;
}

.brands td {
	width: 400px;
	height: 175px;
	text-align: center;
}

/*		speakers*/

.speakers {
	box-sizing: border-box;
	justify-content: center;
	flex-direction: column;
	background-color: #343131;
	padding-top: 110px;
	padding-bottom: 200px;
	width: 100%;
	text-align: center;

}

.speakers h2,
.speakers h3,
.speakers p,
.speakers a {
	color: #ffffff;

}

.speakers figurecaption p,
.speakers figurecaption a {
	font-size: 14px;
	font-weight: 200;
	margin-right: 20px;
}

.speakers div {
	margin-top: 52px;
	width: 100%;
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.speakers figure {
	flex: 0 0 20%;
	box-sizing: border-box;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	position: relative;
}

.speakers figurecaption {
	box-sizing: border-box;

	position: absolute;
	padding-top: 75%;
	padding-left: 5%;
	padding-bottom: -5px;
	left: 0;
	top: 0;
	margin-bottom: -3px;
	width: 100%;
	height: 100%;
	text-align: left;
	z-index: 2;

	background-color: rgba(0, 0, 0, .5);
	/*	transition: all .3s linear;*/
	opacity: 0;
	visibility: hidden;
}

.speakers figure:hover figurecaption {
	opacity: 1;
	visibility: visible;
}

.speakers figure:hover a:hover {
	color: #03a9f4;
}

/* schedule*/

.schedule {
	padding-bottom: 125px;
	background-color: #f8f8f8;
}

.schedule a {
	display: inline-block;
	border: 2px solid #eaeaea;
	padding: 15px 30px;
	color: #000;
}

.schedule a:hover {
	color: #fff;
	background-color: #03a9f4;
	border-color: #03a9f4;
}

div#timeline {
	width: 80%;
	padding: 20px 100px;
	position: relative;
}

div#timeline:before {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	margin: 0 0 0 -1px;
	width: 2px;
	height: 100%;
	z-index: 2;
	background: #eaeaea;
}

div#timeline article {
	width: 96%;
	height: auto;
	margin: 0 0 20px 0;
	position: relative;
}

div#timeline article img {
	width: 100%;
	height: auto;
}

div#timeline article:after {
	content: '';
	display: block;
	clear: both;
}

div#timeline article div.inner {
	width: 40%;
	float: left;
	margin: 5px 0 0 0;
	border-radius: 6px;
}

div#timeline article div.inner div.speak {
	width: 80%;
	max-width: 100px;
	height: auto;
	position: absolute;
	top: 27%;
	left: 47%;
	z-index: 3;

}

div#timeline article div.inner div.speak img {
	width: 100%;
	height: auto;
}

div#timeline article:nth-child(2n) div.inner {
	float: right;
}

/*		purchase*/

.purchase {
	background: url('img/purchbg.png') no-repeat center top;
	background-size: cover;
	padding-top: 55px;
	padding-bottom: 55px;
	align-items: baseline;
}

.purchase p {
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600px;
}

.purchase a {
	background-color: #03a9f4;
	font-size: 13px;
	color: #FFFFFF;
	padding: 15px 40px;
}




/*		blog */

.blog {
	flex-direction: column;
	align-items: center;
	padding-top: 120px;
}

.blog div {
	color: #999999;
	font-size: 13px;
	display: inline-block;
}


.blog h3 {
	color: black;

}

.blog .blog_cont {
	width: 100%;

}

.blog article {

	display: flex;
	flex-direction: column;
	padding: 0;
	margin-right: 28px;

}

.blog figure {
	-webkit-margin-start: 0;
}

.blog figure:last-of-type {
	-webkit-margin-end: 0;
}

.blog figcaption {
	border-bottom: 1px #eaeaea solid;
}

.blog span {
	font-size: 12px;
}

.blog span time {
	margin-right: 22px;
}

.blog span i {
	margin-right: 10px;
}


/*		book*/

section.book {
	background-color: #f8f8f8;
	color: #999999;
	font-size: 13pt;
	justify-content: flex-end;
	padding-top: 120px;
	padding-bottom: 60px;
	background: url("img/image.png") no-repeat 0 0;
	margin-bottom: -5px;
}

.book hr {
	margin-left: 0;
}

#email,
#name {
	height: 40px;
	width: 260px;
	border: 1px #f1f1f1 solid;
	padding-left: 10px;
}


#name {
	margin-right: 19px;
}


#subject {
	height: 40px;
	width: 560px;
	border: 1px #f1f1f1 solid;
	padding-left: 10px;
}

textarea {
	height: 160px;
	width: 560px;
	border: 1px #f1f1f1 solid;
	padding-left: 10px;
}

.book button {
	color: #fff;
	text-transform: uppercase;
	padding: 20px 35px;
	background-color: #03a9f4;
}

/*
 @media (max-width: 1000px){ .book{ background:none; } .book div:first-child { margin-left: 0; } }
*/

/*		map*/

.map {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
}

/*
.map img {
	width: 100%;
	height: ;
	margin-bottom: -5px;
}
*/



/*			footer + copyright*/

footer {
	background-color: #333333;
	padding-bottom: 95px;
	padding-top: 100px;
}

footer nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

footer h3 {
	color: #fff;
}

footer div:first-child a {
	margin-left: 15px;
}


footer nav ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: baseline;
	list-style: none;
	padding: 0;
}

footer nav div:first-child {
	width: 400px;
}

footer nav a,
footer nav li {
	text-transform: capitalize;
	color: #979797;
	text-decoration: none;
	padding-top: 22px;
}

footer input {
	background-color: #595959;
	border: none;
	width: 225px;
	height: 40px;
	padding-left: 10px;
}

footer input::-webkit-input-placeholder {
	color: #979797;
	font-size: 13px;
}

footer input::-moz-placeholder {
	color: #979797;
	font-size: 13px;
}

footer button {
	background-color: #29cadf;
	border: none;
	width: 45px;
	height: 42px;
	color: #ffffff;
	position: relative;
	right: 5px;
}

.copyright {
	background-color: #262626;
	line-height: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	padding: 0px 100px;
	color: #999999;
	font-size: 14px;
	font-weight: 600;
}

.copyright ul {
	display: flex;
}

.copyright li {
	display: inline-block;
	margin-left: 30px;
}

.copyright a {
	color: #cccccc;
}

.copyright a:hover {
	color: #03a9f4;
}

/*		schedule*/

.schedule {
	flex-direction: column;
	align-items: center;
	position: relative;
}

.schedule .centerline_cont {
	position: relative;
}

.schedule .centerline {
	position: absolute;
	top: ;
	left: 50%;
	border-left: 2px solid #eaeaea;
	height: 1700px;
}

.schedule article {
	color: #666;
}

.schedule article h3 {
	color: #000;
	text-transform: uppercase;
}
